@page "/counter"

<PageTitle>Keegan Counter</PageTitle>

<h1>Keegan's Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    private int current = 0;
    private int currentCount = 0;
    private List<int> fibArr;

    private void IncrementCount()
    {
        current++;
        currentCount = fib(current);
    }
    private int fib(int count) {
        fibArr = new List<int>();
        fibArr.Insert(0,0);
        fibArr.Insert(1,1);
        for (int i = 2; i <= count; i++)
        {
            fibArr.Add(fibArr.Item[i-1] + fibArr.Item[i-2]);
        }
        return fibArr.Item[count];
    }
}
